@using FStudentManagement.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<SUser> SignInManager
@inject UserManager<SUser> UserManager

<style>
	@@media screen and (max-width: 500px) {
		.sidebar.close {
			width: 0px;
		}

			.sidebar.close ~ .home-section {
				right: -9px;
				width: 100%;
				padding-right: 22px;
				z-index: 999;
			}
	}
</style>
@if (User.Identity.IsAuthenticated && SignInManager.IsSignedIn(User))
{
	var user = await UserManager.GetUserAsync(User);

	if (user != null)
	{
		var roles = await UserManager.GetRolesAsync(user);

		@if (roles.Contains("Admin"))
		{
			<div class="sidebar close">
				<div class="logo-details">
					<i class="fa-solid fa-school-flag"></i>
					<span class="logo_name">نظام إدارة الطلبة</span>
				</div>
				<ul class="nav-links">
					<li>
						<a asp-controller="Manage" asp-action="Index">
							<i class="fa-solid fa-school"></i>
							<span class="link_name">الصفحة الرئيسية</span>
						</a>
					</li>
					<li>
						<div class="iocn-link">
							<a>
								<i class='bx bxs-coin-stack'></i>
								<span class="link_name">المراحل الدراسية</span>
							</a>
							<i class='bx bxs-chevron-down arrow'></i>
						</div>
						<ul class="sub-menu">
							<li><a asp-controller="AddStages" asp-action="GetAllStags">عرض المراحل الدراسية</a></li>
							<li><a asp-controller="AddStages" asp-action="GetAllStags">اضافة مرحلة دراسية</a></li>
						</ul>
					</li>

					<li>
						<div class="iocn-link">
							<a>
								<i class="fa-solid fa-book"></i>								<span class="link_name">المواد الدراسية</span>
							</a>
							<i class='bx bxs-chevron-down arrow'></i>
						</div>
						<ul class="sub-menu">
							<li><a asp-controller="Courses" asp-action="Courses">عرض المواد</a></li>
							<li><a asp-controller="Courses" asp-action="Courses">اضافة مادة</a></li>
						</ul>
					</li>
					<li>
						<div class="iocn-link">
							<a>
								<i class="fa-solid fa-book-open-reader"></i>								<span class="link_name">المعلمين</span>
							</a>
							<i class='bx bxs-chevron-down arrow'></i>
						</div>
						<ul class="sub-menu">
							<li><a asp-controller="Teachers" asp-action="display_th">اعدادات المعلمين</a></li>
							<li><a asp-controller="Teachers" asp-action="Add_Teacher">اضافة معلم</a></li>
							<li><a asp-controller="Teachers" asp-action="addnewstage">اضافة مرحلة  للمعلم</a></li>

						</ul>
					</li>
					<li>
						<div class="iocn-link">
							<a>
								<i class="fa-solid fa-user-graduate"></i>
								<span class="link_name">الطلاب</span>
							</a>
							<i class='bx bxs-chevron-down arrow'></i>
						</div>
						<ul class="sub-menu">
							<li><a asp-controller="Students" asp-action="display_Student">عرض الطلاب</a></li>
							<li><a asp-controller="Students" asp-action="Add_Student">اضافة طالب</a></li>
						</ul>
					</li>
					<li>
						<div class="iocn-link">
							<a>
								<i class="fa-solid fa-book-open"></i>								<span class="link_name">الحضور</span>
							</a>
							<i class='bx bxs-chevron-down arrow'></i>
						</div>
						<ul class="sub-menu">
							<li><a asp-controller="Manage" asp-action="Create_Table"> تسجيل الحضور</a></li>
							<li><a asp-controller="Manage" asp-action="Edit_attendance">عرض جدول الحضور</a></li>
						</ul>
					</li>

					<li>
						<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "", new { area = "" })">
							<button class="logout" type="submit">
								<i class='bx bx-log-out'></i>
							</button>
							<span class="link_name" style="
										font-size: 18px;
										font-weight: 400;
										color: #fff;
position:relative;
										transition: all 0.4s ease;
										cursor: pointer;
right:17px;
display: inline;">تسجيل الخروج</span>

							<ul class="sub-menu blank">
								<li><a class="link_name">Setting</a></li>
							</ul>
						</form>
					</li>
					<li>

						<div class="profile-details">
							<div class="profile-content">
								<!--<img src="image/profile.jpg" alt="profileImg">-->
							</div>
							<div class="name-job">
								<div class="profile_name">&copy;Yousef Hany</div>
								<div class="job">All Rights Reserved.</div>
							</div>
							<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "", new { area = "" })">
								<button class="logout" type="submit">
									<i class='bx bx-log-out'></i>
								</button>
							</form>
						</div>
					</li>
				</ul>
			</div>


		}
		else if (roles.Contains("Teacher"))
		{
			<div class="sidebar close">
				<div class="logo-details">
					<i class="fa-solid fa-school-flag"></i>
					<span class="logo_name">نظام إدارة الطلبة</span>
				</div>
				<ul class="nav-links">
					<li>
						<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "", new { area = "" })">
							<button class="logout" type="submit">
								<i class='bx bx-log-out'></i>
							</button>
							<span class="link_name" style="
										font-size: 18px;
										font-weight: 400;
										color: #fff;
position:relative;
										transition: all 0.4s ease;
										cursor: pointer;
right:17px;
display: inline;">تسجيل الخروج</span>

							<ul class="sub-menu blank">
								<li><a class="link_name">Setting</a></li>
							</ul>
						</form>
					</li>
					<li>

						<div class="profile-details">
							<div class="profile-content">
							</div>
							<div class="name-job">
								<div class="profile_name">&copy;Yousef Hany</div>
								<div class="job">All Rights Reserved.</div>
							</div>
							<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("","", new { area = "" })">
								<button class="logout" type="submit">
									<i class='bx bx-log-out'></i>
								</button>
							</form>
						</div>
					</li>
				</ul>
			</div>

		}
		else if (roles.Contains("Student"))
		{
			<div class="sidebar close">
				<div class="logo-details">
					<i class="fa-solid fa-school-flag"></i>
					<span class="logo_name">نظام إدارة الطلبة</span>
				</div>
				<ul class="nav-links">
					<li>
						<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "", new { area = "" })">
							<button class="logout" type="submit">
								<i class='bx bx-log-out'></i>
							</button>
							<span class="link_name" style="
										font-size: 18px;
										font-weight: 400;
										color: #fff;
position:relative;
										transition: all 0.4s ease;
										cursor: pointer;
right:17px;
display: inline;">تسجيل الخروج</span>

							<ul class="sub-menu blank">
								<li><a class="link_name">Setting</a></li>
							</ul>
						</form>
					</li>
					<li>

						<div class="profile-details">
							<div class="profile-content">
							</div>
							<div class="name-job">
								<div class="profile_name">&copy;Yousef Hany</div>
								<div class="job">All Rights Reserved.</div>
							</div>
							<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("","", new { area = "" })">
								<button class="logout" type="submit">
									<i class='bx bx-log-out'></i>
								</button>
							</form>
						</div>
					</li>
				</ul>
			</div>


		}

	}
}
