@model IEnumerable<Teacher>
@{
	var count = 0;
}
<style>
	.modal-backdrop {
		position: relative;
	}
</style>

@if (Model.Any())
{
	<div class="mb-3">
		<label for="searchInput" class="form-label">ابحث:</label>
		<input type="text" class="form-control" id="searchInput" placeholder="ادخل اسم المعلم">
	</div>

	<div class="table-responsive">
		<table id="example" class="table table-striped" style="width:100%">
			<thead>
				<tr>
					<th>#</th>
					<th>اسم المعلم</th>
					<th>المرحلة الدراسية</th>
					<th>الجروبات</th>
					<th>المواد الدراسية</th>
					<th>البريد الالكترونى</th>
					<th>الاعدادات</th>
				</tr>
			</thead>
			<tbody>

				@foreach (var item in Model)
				{
					<tr>
						<td>
							@{
								count++;
							}
							@count
						</td>
						<td>@item.Teacher_Name</td>
						@{
							if (item.TeacherStageCourses.GroupBy(s => item.Teacher_ID).Count() != 0)
							{
								@foreach (var teacherGroup in item.TeacherStageCourses.GroupBy(s => item.Teacher_ID))
								{
									var firstTeacherGroup = teacherGroup.First();
									<td>@firstTeacherGroup.ParentStage.Name</td>
									<td>
										@foreach (var group in teacherGroup.Select(s => s.ChildStage.Name))
										{
											@group
											<br />
										}
									</td>
									<td>@firstTeacherGroup.Course.Course_Name</td>
									<td style="
										color: green;
										font-weight: bold;
										font-size: small;
																									">
										@item.SUser.Email
									</td>
									<td>
										<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal_@firstTeacherGroup.Teacher.Teacher_ID" style="
																	width: 50px;">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
																class="bi bi-trash3" viewBox="0 0 16 16">
												<path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
											</svg>
										</button>
										<form enctype="multipart/form-data" asp-antiforgery="true"
																asp-controller="Teachers" asp-action="edit_th"
																asp-route-id="@firstTeacherGroup.Teacher.Teacher_ID"
																asp-route-childid="@firstTeacherGroup.childid"
																asp-route-courid="@firstTeacherGroup.CourseId"
																asp-route-parentid="@firstTeacherGroup.ParentStageId"
																method="post" style="
						display: contents;
										">
											<button type="submit" formenctype="multipart/form-data" class="btn btn-primary" style="
																width: 50px;">
												<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
																	class="bi bi-pencil-square" viewBox="0 0 16 16">
													<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
													<path fill-rule="evenodd"
																			d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
												</svg>
											</button>
										</form>

									</td>

									<div class="modal fade" id="exampleModal_@firstTeacherGroup.Teacher.Teacher_ID" tabindex="-1" aria-labelledby="exampleModal_@firstTeacherGroup.Teacher.Teacher_ID" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
													<h5 class="modal-title" id="exampleModalLabel_@firstTeacherGroup.Teacher.Teacher_ID">تأكيد الحذف</h5>
												</div>
												<div class="modal-body">
													هل تريد حذف المعلم : @firstTeacherGroup.Teacher.Teacher_Name ؟
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">الغاء</button>
													<form autocomplete="off" lang="ar" enctype="multipart/form-data" method="post">
														<input type="submit" formenctype="multipart/form-data" asp-controller="Teachers" asp-action="Delete_Teacher_System"
																					asp-route-id="@firstTeacherGroup.Teacher.Teacher_ID" value="حذف" class="btn btn-danger" />
													</form>
												</div>
											</div>
										</div>
									</div>
								}
							}
							else
							{
								<td colspan="3" style="
								color: red;
								font-size: 17px;
																">
									لا يوجد مراحل (يرجى اضافة مرحلة للمعلم)
								</td>
								<td style="
									color: green;
									font-weight: bold;
									font-size: small;
																		">
									@item.SUser.Email
								</td>

								<td>

									<button data-bs-toggle="modal" data-bs-target="#exampleModal_@item.Teacher_ID" class="btn btn-danger" style="
																		width: 50px;">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
															class="bi bi-trash3" viewBox="0 0 16 16">
											<path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
										</svg>
									</button>
									<div class="modal fade" id="exampleModal_@item.Teacher_ID" tabindex="-1" aria-labelledby="exampleModal_@item.Teacher_ID" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
													<h5 class="modal-title" id="exampleModalLabel_@item.Teacher_ID">تأكيد الحذف</h5>
												</div>
												<div class="modal-body">
													هل تريد حذف المعلم : @item.Teacher_Name ؟
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">الغاء</button>
													<form autocomplete="off" lang="ar" enctype="multipart/form-data" method="post">
														<input type="submit" formenctype="multipart/form-data" asp-controller="Teachers" asp-action="Delete_Teacher_System"
																					asp-route-id="@item.Teacher_ID" value="حذف" class="btn btn-danger" />
													</form>
												</div>
											</div>
										</div>
									</div>

									<form enctype="multipart/form-data" asp-antiforgery="true"
															asp-controller="Teachers" asp-action="addstage" asp-route-thid="@item.Teacher_ID"
															method="post" style="
								display: contents;
																	">
										<button type="submit" formenctype="multipart/form-data" title="اضافة مرحلة" class="btn btn-primary" style="
																		width: 50px;">
											+
										</button>
									</form>

								</td>
							}


						}
					</tr>

				}



			</tbody>
		</table>
	</div>
}
else
{
	<div class="table">
		<div class="table_header">
			<div style="display: flex; flex-direction: column;">
				<h1>لا يوجد معملمين </h1>
				<a asp-controller="Teachers" asp-action="Add_Teacher" class="btn btn-primary"> انشاء معلم جديد</a>
			</div>
		</div>
	</div>
}

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script>
		document.addEventListener('DOMContentLoaded', function () {
			const searchInput = document.getElementById('searchInput');
			const tableRows = document.querySelectorAll('#example tbody tr');

			searchInput.addEventListener('input', function () {
				const searchTerm = searchInput.value.toLowerCase();

				tableRows.forEach(function (row) {
					const teacherName = row.querySelector('td:nth-child(2)').textContent.toLowerCase();

					if (teacherName.includes(searchTerm)) {
						row.style.display = '';
					} else {
						row.style.display = 'none';
					}
				});
			});
		});
	</script>
}
